.wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 30px;
    font-family: 'Montserrat';

    @media (max-width: 850px) {
        width: 80%;
    }

    @media (max-width: 591px) {
        width: 90%;
    }
}

.header {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 300;

    @media(max-width: 691px) {
        font-size: 2.4rem;
    }

    @media(max-width: 691px) {
        font-size: 2rem;
    }
}

.wrapper p {
    padding: 10px 15px;
    text-align: left;
}

.logo {
    width: 140px;
    height: 140px;
    background: url('../../images/nasa-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}